services:
  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: ./Dockerfile
  #   container_name: LAKOO-frontend
  #   volumes :
  #     - ./frontend:/app
  #     - /app/node_modules
  #   depends_on:
  #     - api-gateway

  # backend:
  #   build:
  #     context: ./backend
  #     dockerfile: ./Dockerfile
  #   container_name: LAKOO-backend
  #   volumes:
  #     - ./backend:/app
  #     - go_modules:/go/pkg/mod
  #     - go_build_cache:/root/.cache/go-build
  #   expose:
  #     - "8080" #only gateway should talk to it
  #   depends_on:
  #     - api-gateway
  cart-service:
    build:
      context: ./backend/services/cart-service
      dockerfile: ./Dockerfile.dev
    container_name: LAKOO-cart-service
    expose:
     - "8003"
    volumes:
      - ./backend/services/cart-service:/app
      - go_modules:/go/pkg/mod
      - go_build_cache:/root/.cache/go-build
    environment:
      CART_SERVICE_PORT: ${DOCKER_CART_SERVICE_PORT}
      DB_HOST: ${DOCKER_DB_HOST}
      DB_USER: ${DOCKER_DB_USER}
      DB_PASSWORD: ${DOCKER_DB_PASSWORD}
      DB_NAME: ${DOCKER_DB_NAME}
      DB_PORT: ${DOCKER_DB_PORT}
      DB_SSL: require
      PRODUCT_SERVICE_BASE_URL: ${DOCKER_PRODUCT_SERVICE_BASE_URL}
  
  auth-service:
    build:
      context: ./backend/services/auth-service
      dockerfile: ./Dockerfile.dev
    container_name: LAKOO-auth-service
    expose: 
      - "8001"
    volumes:
      - ./backend/services/auth-service:/app
      - ./backend/shared/typescript:/app/shared/typescript
      - auth_node_modules:/app/node_modules
    environment: 
      JWT_SECRET: ${DOCKER_JWT_SECRET}
      AUTH_SERVICE_PORT: ${DOCKER_AUTH_SERVICE_PORT}
      USER_SERVICE_URL: ${DOCKER_USER_SERVICE_URL}
  

  user-service:
    build:
      context: ./backend/services/user-service
      dockerfile: ./Dockerfile.dev
    container_name: LAKOO-user-service
    expose: 
      - "8018"  
    volumes:
      - ./backend/services/user-service:/app
      - ./backend/shared/typescript:/app/shared/typescript
      - user_node_modules:/app/node_modules
    environment: 
      USER_SERVICE_PORT: ${DOCKER_USER_SERVICE_PORT}
      NODE_ENV: ${DOCKER_NODE_ENV}
      AUTH_DATABASE_URL: ${DOCKER_AUTH_DATABASE_URL}

    

  
  api-gateway:
    build:
      context: ./backend/api-gateway
      dockerfile: ./Dockerfile.dev
    container_name: LAKOO-api-gateway
    ports:
      - "8080:8080"
    volumes:
      - ./backend/api-gateway:/app
      - api_gateway_node_modules:/app/node_modules
    depends_on:
      - cart-service
      - auth-service
      - user-service
    environment:
      PRODUCT_SERVICE_BASE_URL: ${DOCKER_PRODUCT_SERVICE_BASE_URL}
      SERVICE_SECRET: ${SERVICE_SECRET}
      FRONTEND_URL: ${DOCKER_FRONTEND_URL}
      API_GATEWAY_PORT: ${DOCKER_API_GATEWAY_PORT}
      JWT_SECRET: ${DOCKER_JWT_SECRET}
      CART_SERVICE_URL: ${DOCKER_CART_SERVICE_URL}
      AUTH_SERVICE_URL: ${DOCKER_AUTH_SERVICE_URL}
      ORDER_SERVICE_URL: ${DOCKER_ORDER_SERVICE_URL}
      SELLER_SERVICE_URL: ${DOCKER_SELLER_SERVICE_URL}

  redis:
    image: redis:7-alpine
    expose:
      - "6379"

  nginx:
    image: nginx:alpine
    ports: 
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/out:/usr/share/nginx/html:ro
    depends_on:
      - api-gateway


volumes:
  go_modules:
  go_build_cache:
  auth_node_modules:
  user_node_modules:
  api_gateway_node_modules:
